<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button @click="handleBtnClick">提交</button>
        <ul>
            <!--<li v-for="item in list">{{item}}</li>-->
            <todo-item :content="item"
                       :index="index"
                       v-for="(item,index) in list"
                       @delete="handleItemDelete"
                       >
            </todo-item>
        </ul>
    </div>
    <script>
        //定义一个全局组件
//        Vue.component('TodoItem',{
//            props:['content'],
//            template:'<li>{{content}}</li>'
//        })

        //定义一个局部组件
        var TodoItem = {
            props:['content','index'],
            template:"<li @click='handleItemClick'>{{content}}</li>",
            methods:{
                handleItemClick:function () {
                    this.$emit("delete",this.index);
                }
            }
        }

        var app = new Vue({
            el:'#app',
            //局部组件需要注册
            components:{
              TodoItem:TodoItem
            },
            data:{
                list:[],
                inputValue:''
            },
            methods:{
                handleBtnClick:function () {
                    this.list.push(this.inputValue);
                    this.inputValue = ''
                },
                handleItemDelete:function (index) {
                    this.list.splice(index,1);
                }
            }
        })
    </script>
</body>
</html>