<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中的条件渲染</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <!--dom不存在-->
        <!--<div v-if="show" data-test="v-if">{{message}}</div>-->
        <!--dom存在，只是添加了display：none，性能更好-->
        <!--<div v-show="show"data-test="v-show">{{message}}</div>-->

        <!--v-if和v-else必须要连在一起使用-->
        <!--<div v-if="show">{{message}}</div>-->
        <!--<div v-else>Bye World</div>-->

        <!--<div v-if="show === 'a'">This is A</div>-->
        <!--<div v-else-if="show === 'b'">This is B</div>-->
        <!--<div v-else>This is others</div>-->
        <div v-if="show">
            用户名：<input key="username"/>
        </div>
        <div v-else>
            邮箱名：<input key="password"/>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                show: false,
                message: "Hello world"
            }
        })
    </script>
</body>
</html>