<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态组件</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="root">

        <child-one v-if="type === 'child-one'"></child-one>
        <child-two v-if="type === 'child-two'"></child-two>
        <!--动态组件-->
        <!--<component :is="type"></component>-->
        <button @click="handleBtnClick">change</button>
    </div>
    <script>
        Vue.component('child-one',{
//            通过v-once可以提高组件的性能，达到缓存的目的，不需要每次都销毁再重新创建
            template:'<div v-once>child-one</div>'
        })
        Vue.component('child-two',{
            template:'<div v-once>child-two</div>'
        })
        var vm = new Vue({
            el: "#root",
            data:{
                type:'child-one'
            },
            methods: {
                handleBtnClick: function () {
                    this.type = (this.type === 'child-one'?'child-two':'child-one');
                }
            }
        })
    </script>
</body>
</html>